.question_form{
    background-color: #fff;
    height:100%;
    padding-bottom: 30px;
}

.section{
    margin: auto;
    width: 60%;
}
.question_form_top_name{
    box-sizing: border-box;
    font-family: cursive;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    line-height: 135%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #f4f4f9;
    color: black;
    height: 35px;
}

.question_form_top_name::after{
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.question_form_top_name:hover::after{
    width: 100%;
    }
    
.question_form_top_desc{
    box-sizing: border-box;
    font-family: cursive;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    line-height: 135%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #f4f4f9;
    color: black;
    height: 35px;  
}

.question_boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add_question{
    background-color: white;
    border-radius: 8px;
    padding: 25px 22px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    width: 93%;
    margin-left: 10px;
}

.add_question_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.question{
box-sizing: border-box;
margin-top: 10px;
font-family: 'Google sans',Roboto,Arial,sans-serif;
font-size: 15px;
font-weight: 400;
flex: 1;
line-height: 40px;
width: 40%;
border: none;
outline: none;
color: black;
height: 40px;
margin-right: 10px;
line-height: 10px;
padding: 10px;
}


.select{
    height: 40px;
    width: 230px;
    border: 0.5px solid;
    padding: 5px 15px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border: 1.5px solid #f4f4f9;
    border-radius: 3px;
    background: transparent;
}

.menuitem{
    color: rgba(118,118,118,0.3);
}

.add_question_body{
    display: flex;
    align-items: center;
}

.text_input{
    outline: none;
    border: none;
    height: 40px;
    width: 490px;
    font-family: Roboto,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #202124;
}
.add_footer{
    display: flex;justify-content:space-between;
}
.add_question_bottom{
    margin-top: 12px;
    border-top: 1px solid rgba(118,118,118,0.3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add_border{
    border-left: 6px solid #4285f4;
}

.vsc
{
    position: relative;
    left:-80%;
    bottom:20%;
}

.edit{
    color: #5f6368;
    padding: 8px 5px;
}
.tod
{
    font-size: 2em;
}