
.dashsizer
{
    font-size:1.2vw;
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-height:100vh;
}
.navigation
{
  position:fixed;
  top:15%;
  left:20px;
  bottom:10%;
  width:15%;
  /* width: 2%; */
  border-radius:10px;
  border-left:15px solid #4d5bf9;
  background: #4d5bf9;
  box-sizing: initial;
  transition:0.5s
}
.navigation ul
{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  padding-left: 5px;
  padding-top: 48px;
}
.navigation ul li 
{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navigation ul li a
{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
}
.navigation ul li a .icon 
{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li a .icon ion-icon
{
  font-size:1.5em;
}
.navigation ul li .title
{
  position: relative;
  display: block;
  padding-left:10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;

}
.navigation ul li.active
{
  background:#fff;
}
.navigation ul li.active a
{
  color: #333;
}